<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if !mso]><!-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SKS Retention</title>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			min-width: 100%;
			background-color: #ffffff;
		}

		table {
			border-spacing: 0;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			color: #333333;
		}

		td {
			padding: 0;
		}

		img {
			border: 0;
		}

		.wrapper {
			width: 100%;
			table-layout: fixed;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		.webkit {
			max-width: 600px;
		}

		.outer {
			margin: 0 auto;
			width: 100%;
			max-width: 600px;
		}

		.full-width-image img {
			width: 100%;
			max-width: 600px;
			height: auto;
		}
		/*.inner {
        padding: 10px;
    }*/

		p {
			margin: 0;
		}

		.h1 {
			font-size: 20px;
			font-weight: normal;
			margin-bottom: 18px;
		}

		.h2 {
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		.one-column .contents {
			text-align: left;
		}

		.one-column p {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.two-column {
			text-align: center;
			font-size: 0;
		}

		.two-column .column {
			width: 100%;
			max-width: 300px;
			display: inline-block;
			vertical-align: top;
		}

		.contents {
			width: 100%;
		}

		.two-column .contents {
			font-size: 14px;
			text-align: left;
		}

		.two-column img {
			width: 100%;
			max-width: 300px;
			height: auto;
		}

		.two-column .text {
			padding-top: 10px;
		}

		.three-column {
			text-align: center;
			font-size: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.three-column .column {
			width: 100%;
			max-width: 200px;
			display: inline-block;
			vertical-align: top;
		}

		.three-column .contents {
			font-size: 14px;
			text-align: center;
		}

		.three-column img {
			width: 100%;
			max-width: 180px;
			height: auto;
		}

		.three-column .text {
			padding-top: 10px;
		}

		.left-sidebar {
			text-align: center;
			font-size: 0;
		}

		.left-sidebar .column {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		.left-sidebar .left {
			max-width: 80px;
		}

		.left-sidebar .right {
			max-width: 410px;
		}

		.left-sidebar .img {
			width: 100%;
			max-width: 80px;
			height: auto;
		}

		.left-sidebar .contents {
			font-size: 12px;
			text-align: center;
		}

		.left-sidebar a {
			color: #85ab70;
		}

		.right-sidebar {
			text-align: center;
			font-size: 0;
		}

		.right-sidebar .column {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		.right-sidebar .left {
			max-width: 100px;
		}

		.right-sidebar .right {
			max-width: 500px;
		}

		.right-sidebar .img {
			width: 100%;
			max-width: 80px;
			height: auto;
		}

		.right-sidebar .contents {
			font-size: 14px;
			text-align: center;
		}

		.right-sidebar a {
			color: #70bbd9;
		}

		.promo {
			padding-bottom: 0 !important;
		}

		@media screen and (max-width: 480px) {
			.two-column .column {
				max-width: 100% !important;
			}
			.three-column .column {
				max-width: 50% !important;
			}
			.two-column img {
				max-width: 100% !important;
			}
			.three-column .column img {
				width: 100% !important;
			}
			.promo {
				padding: 0 !important;
			}
			.show {
				display: inline-block !important;
				height: auto !important;
				width: 100% !important;
				max-height: none !important;
				max-width: 100% !important;
				font-size: inherit !important;
				line-height: inherit !important;
			}
			.hide {
				display: none !important;
				height: 0px !important;
				width: 0px !important;
				max-height: 0px !important;
				max-width: 0px !important;
				font-size: 0px !important;
				line-height: 0px !important;
			}
			.txt-center {
				text-align: center !important;
			}
		}

		@media screen and (min-width: 481px) and (max-width: 620px) {
			.three-column .column {
				max-width: 33% !important;
			}
			.two-column .column {
				max-width: 50% !important;
			}
		}

	</style>
	<!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
</head>

<body style="margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#272727;">
	<img src="{{tracking_image}}" border="0">
	<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
		<div class="webkit" style="max-width:600px;">
			<!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333333;" >
            <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
            <![endif]-->
			<table class="outer" align="center" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333333;margin:0 auto;width:100%;max-width:600px;">
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table width="100%" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333333;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;">
									<p class="hide" style="margin:0;font-size:12px;margin-bottom:10px;text-align:right;color:#ffffff">{{ preheader_text }}</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table class="outer txt-center" align="left" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333333;margin:0 auto;width:100%;max-width:600px;">
							<tr>
								<td class="" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
									<a target="_blank" href="{{ storelink }}" border="0" style="text-decoration: none;border: none;">
                                        <img src="{{ logo_img }}" border="0" width="155" style="padding:20px; width: 155px;" />
                                    </a>
								</td>
							</tr>
							<!--[if (gte mso 9)|(IE)]>
                            <tr>
                            <td>
                            &nbsp;
                            </td>
                            </tr>
                            <![endif]-->
						</table>
					</td>
				</tr>
				<tr class="hide">
					<td class="one-column hide" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table width="100%" bgcolor="#c70000" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#95989A;background-color: #c70000;font-size: 13px;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:center;">
									<a target="_blank" href="http://www.swissknifeshop.com/shop/swiss-army" border="0" style="color:#ffffff;text-decoration:none;">SWISS ARMY</a>									&nbsp;|&nbsp;
									<a target="_blank" href="http://www.swissknifeshop.com/shop/leatherman" border="0" style="color:#ffffff;text-decoration:none;">LEATHERMAN</a>									&nbsp;|&nbsp;
									<a target="_blank" href="http://www.swissknifeshop.com/shop/flashlights" border="0" style="color:#ffffff;text-decoration:none;">LIGHTS</a>									&nbsp;|&nbsp;

									<a target="_blank" href="http://www.swissknifeshop.com/shop/kitchen" border="0" style="color:#ffffff;text-decoration:none;">KITCHEN</a>									&nbsp;|&nbsp;
									<a target="_blank" href="http://www.swissknifeshop.com/shop/grooming" border="0" style="color:#ffffff;text-decoration:none;">GROOMING</a>									&nbsp;|&nbsp;
									<a target="_blank" href="http://www.swissknifeshop.com/gift-ideas" border="0" style="color:#ffffff;text-decoration:none;">CORPORATE GIFTS</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{% if main_img %}
				<tr>
					<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;margin:0 auto;width:100%;max-width:600px;"
						bgcolor="#ffffff">
							<tr>
								<td class="full-width-image" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
									<a target="_blank" href="{{ storelink }}" border="0" style="text-decoration: none;border: none;">
                                        <img src="{{ main_img }}" border="0" style="max-width: 600px;border: none;" />
                                    </a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				{% endif %}
				<!-- spacing -->
				<tr>
					<td width="100%" height="20" bgcolor="#ffffff">&nbsp;

					</td>
				</tr>
				<!-- /spacing -->
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:center;">
									<p class="h1" style="margin:0;font-weight:bold;font-size:14px;margin-bottom:10px;">{{title}}</p>
								</td>
							</tr>
							<tr>
								<td bgcolor="#333333" height="3">

								</td>
							</tr>
							<tr>
								<td class="inner contents" style="padding-top:20px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;">
									<p style="margin:0;font-size:14px;margin-bottom:10px;">
										{{body_text}}
									</p>
								</td>
							</tr>
							{% if use_cta %}
							<tr>
								<td height="20"></td>
							</tr>
							<!-- spacer -->
							<tr>
								<td colspan="3">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="140" height="40" bgcolor="#c70000" style="border-radius:4px;">
                    <tr>
                      <td align="center" valign="center">
                        <a target="_blank" href="{{cta_url}}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                {{cta_text}}
                                                            </a>
                      </td>
                    </tr>
                  </table>
								</td>
							</tr>
							<tr>
								<td height="20" colspan="3"></td>
							</tr>
							<!-- spacing -->
							{% endif %}
						</table>


					</td>
				</tr>
				{% if products|length == 1 %}
				<tr>
					<td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
					bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
												<a target="_blank" href="{{ products[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ products[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]></tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
					</td>
				</tr>
				{% endif %} {% if products|length == 2 %}
				<tr>
					<td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
					bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
												<a target="_blank" href="{{ products[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ products[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<a target="_blank" href="{{ products[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ products[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]></tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
					</td>
				</tr>
				{% endif %} {% if products|length == 3 %}
				<tr>
					<td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
					bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<a target="_blank" href="{{ products[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ products[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
												<a target="_blank" href="{{ products[1].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ products[1].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
										<tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
												<a target="_blank" href="{{ products[2].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ products[2].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
						<!--[if (gte mso 9)|(IE)]></tr><![endif]-->
						<!--[if (gte mso 9)|(IE)]></tr></table>
                        <![endif]-->
					</td>
				</tr>
				{% endif %} {% if secondary_title %}
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table width="100%" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr>
                        <td width="520" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table width="100%" height="80" bgcolor="#FED853" align="center" style="border-spacing:0;font-family:sans-serif;color:#000000;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:center;">
									<p style="margin:0;font-size:14px;">{{ secondary_title }}</p>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
					</td>
				</tr>
				{% endif %} {% if secondary_copy %}
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table width="100%" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr>
                        <td width="520" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<table width="80%" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:center;">
									<p style="margin:0;font-size:14px;margin-bottom:10px;">{{ secondary_copy }}</p>
								</td>
							</tr>
						</table>
						<!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
					</td>
				</tr>
				{% endif %}


				<!-- HC & RI area -->
         {% if hotcombos|length == 1 and relateditems|length == 0 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ hotcombos[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ hotcombos[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ hotcombos[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if relateditems|length == 1 and hotcombos|length == 0 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if relateditems|length == 2 and hotcombos|length == 0 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ relateditems[1].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[1].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[1].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if relateditems|length == 1 and hotcombos|length == 1 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ hotcombos[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ hotcombos[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ hotcombos[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if relateditems|length == 3 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ relateditems[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[1].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[1].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[1].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[2].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[2].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[2].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[2].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[2].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if relateditems|length == 2 and hotcombos|length == 1 %}
        <tr>
          <td align="center" class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;"
            bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                <img src="{{ hotcombos[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                            </a>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ hotcombos[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ hotcombos[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ hotcombos[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[0].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[0].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[0].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[0].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]>
                        <td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;">
              <tr>
                <td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:5px;padding-left:5px;">
                  <table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="text-decoration: none;border: none; color: #ffffff;">
                                                    <img src="{{ relateditems[1].image_link }}" width="190" alt="" style="border-width:0;width:100%;max-width:190px;height:auto;" />
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
                        <a target="_blank" href="{{ relateditems[1].link }}" style="font-size:16px; color:#000000;text-align:center;text-decoration:none;">
                                                    {{ relateditems[1].title }}
                                                </a>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="120" height="40" bgcolor="#c70000" style="border-radius:4px;">
                          <tr>
                            <td align="center" valign="center">
                              <a target="_blank" href="{{ relateditems[1].link }}" border="0" style="color:#ffffff;font-size:18px;text-decoration:none;">
                                                                View Product
                                                            </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr><![endif]-->
            <!--[if (gte mso 9)|(IE)]></tr></table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %} {% if secondary_copy %}
        <tr>
          <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr>
                        <td width="520" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
            <table width="80%" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;">
              <tr>
                <td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:center;">
                  <p style="margin:0;font-size:14px;margin-bottom:10px;">{{ secondary_copy }}</p>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
          </td>
        </tr>
        {% endif %}


				<tr>
					<td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;"
					bgcolor="#ffffff">
						<!--[if (gte mso 9)|(IE)]>
                        <table align="center" width="600" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                        <tr>
                        <td width="300" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<div class="column block" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;">
							<table class="block" width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;">
								<tr>
									<td class="inner promo" style="padding-top:10px;padding-bottom:0px;">
										<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;">
											<tr>
												<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
													<img src="https://gallery.mailchimp.com/b7bbf7a070163db60c29565c8/images/82446db4-e4ff-43dd-a604-14d00004aaf9.jpg?_ga=1.75661525.1907881013.1422383014"
													alt="" width="300" style="border-width:0;width:100%;max-width:300px;height:auto;" />
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
                        </td>
                        <td width="300" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                        <![endif]-->
						<div class="column block" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;">
							<table class="block" width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;">
								<tr>
									<td class="inner promo" style="padding-top:10px;padding-bottom:0px;">
										<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;">
											<tr>
												<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
													<img src="https://gallery.mailchimp.com/b7bbf7a070163db60c29565c8/images/5337b1c7-2d87-495d-84eb-78d30313aa06.jpg?_ga=1.7073010.1907881013.1422383014"
													width="300" alt="" style="border-width:0;width:100%;max-width:300px;height:auto;" />
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
					</td>
				</tr>
				<tr>
					<td width="100%" class="one-column show" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;display: none;height: 0px;width: 0px;max-height: 0px;max-width: 0px;font-size: 0px;line-height: 0px;mso-hide:all">
						<!--[if (gte mso 9)|(IE)]><p style="display: none;"><![endif]-->
						<div class="show" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;display: none;height: 0px;width: 0px;max-height: 0px;max-width: 0px;font-size: 0px;line-height: 0px;mso-hide:all">
							<table width="100%" bgcolor="#1791FF" style="border-spacing:0;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#95989A;background-color: #1791FF;font-size: 14px;mso-hide:all ">
								<tr>
									<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:0px;padding-left:0px;width:100%;text-align:center;mso-hide:all">
										<div class="show" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;display: none;height: 0px;width: 0px;max-height: 0px;max-width: 0px;font-size: 0px;line-height: 0px;mso-hide:all">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/swiss-army" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">SWISS ARMY</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/leatherman" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">LEATHERMAN</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/flashlights" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">LIGHTS</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/swiss-watches" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">WATCHES</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/kitchen" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">KITCHEN</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/garden" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">GARDEN</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/shop/grooming" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">GROOMING</a>
											<hr noshade style="margin:0;margin-top:10px;margin-bottom:10px;border-top:2px sold #95989A;">
											<a target="_blank" href="http://www.swissknifeshop.com/gift-ideas" border="0" style="color:#FFFFFF;text-decoration:none;padding:10px;">CORPORATE GIFTS</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]></p><![endif]-->
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table width="100%" bgcolor="#333333" style="border-spacing:0;font-family:sans-serif;color:#1791FF;">
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;width:100%;text-align:left;">
									<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#1791FF;">
										<tr>
											<td class="inner">
												<a target="_blank" href="https://www.facebook.com/swissknifeshop" border="0" style="text-decoration: none;border: none;color: #333333;">
                                                    <img src="https://gallery.mailchimp.com/b7bbf7a070163db60c29565c8/images/8c5806c4-23d3-4833-b2ea-e8cb93e0850d.png" width="32" alt="" style="border-width:0;margin-right: 10px;" />
                                                </a>
											</td>
											<td class="inner contents" style="padding-top:20px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;font-size:12px;text-align:left;color:#ffffff;max-width:380px;">
												Questions? 1-866-GET-SWISS <span class="hide">|</span> customer.service@swissknifeshop.com<br>
												<span class="hide" style="color:#ffffff;">Swiss Knife Shop | 10 Northern Blvd., Suite 8 | Amherst, NH  03031</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
						<table width="100%" bgcolor="#333333" style="border-spacing:0;font-family:sans-serif;color:#95989A;">
							{% if footer_text %}
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:20px;width:100%;text-align:left;">
									<p style="margin:0;font-size:10px;margin-bottom:0px;">{{ footer_text }}</p>
								</td>
							</tr>
							{% endif %}
							<tr>
								<td class="inner contents" style="padding-top:0px;padding-bottom:10px;padding-right:20px;padding-left:20px;width:100%;text-align:left;">
									<p style="margin:0;font-size:10px;margin-bottom:10px;">
										<a target="_blank" href="*|UNSUB|*" style="color: #95989A;text-decoration: none;">UNSUBSCRIBE</a>
										<br> This email was sent to *|EMAIL|*
									</p>
									<p style="margin:0;font-size:10px;margin-bottom:10px;">&copy;*|CURRENT_YEAR|* Swiss Knife Shop. All Rights Reserved</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
		</div>
	</center>
	<div style="display:none; white-space:nowrap; font:15px courier; color:#272727">
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	</div>
</body>

</html>
